body{
   padding-top:70px;
   padding-bottom: 40px;
   font-family: "Josefin Sans", serif;

   width:80%;
   margin:auto;

}

.header-section{
   position: fixed;

   display:flex;
   top:0;
   left:0;
   right:0;

   height: 60px;

   justify-content: center;
   align-items: center;
   box-shadow: 1px 1px 5px rgb(212, 212, 212);

   background-color: white;

   z-index:100;
}

.header-title{
   font-size:40px;
   font-weight: 900;
}

.right-section{
   position: absolute;
   left:10px;
}

.right-section img{
   width:30px;
}

.root{
   display:flex;
   flex-direction: row;
   justify-content: center;
   column-gap:20px;
}